html {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
    font-size:16px;
}

#character {
    margin-top: 100px;
    font-size: 4.4em;
    text-align: center;
}

#strokes {
    font-size: 4em;
    text-align: center;
}

#character .previous {
    text-align: right;
    opacity: .3;
}

#character-wrapper{
    height: 50%;
}

#character .current {
}

#character .next {
    text-align: left;    
    opacity: .3;
}
