
#character {
    margin-top: 1em;
    font-size: 4.4em;
    text-align: center;
}

#strokes {
    font-size: 4em;
    text-align: center;
}

#character .previous {
    text-align: right;
    opacity: .3;
}

#character-wrapper{
    height: 50%;
    font-size: 1em;
}

#character .current {
}

#character .next {
    text-align: left;    
    opacity: .3;
}
