html {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
    font-size:16px;
}

#character {
    margin-top: 1em;
    font-size: 4.4em;
    text-align: center;
}

#strokes {
    font-size: 2em;
    text-align: center;
}

#character .previous {
    text-align: right;
    opacity: .3;
    font-size: .6em;
    padding-top: .5em;
}

#character-wrapper{
    height: 50%;
}

#character .current {
}

#character .next {
    text-align: left;    
    opacity: .3;
    font-size: .6em;
    padding-top: .5em;
}

#character .info{
    font-size: .5em;
    color:darkgray;
}