

html {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
    font-size: 16px;
}

#keyboard {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: antiquewhite;
}

#keyboard .key-wrapper {
    display: block;
    font-family: monospace;
    width: 100%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
}

#keyboard .key-wrapper.error {
    background-color: deeppink;
}

#keyboard .number {
    display: block;
}
#keyboard .number.empty{
    height: .5em;
}

#keyboard .content {
    font-size: 2em;
}

#keyboard .content.font-small{
    padding-top: .5em;
    font-size: 1em;
}
